<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hunterx</title>
    <!-- ======= Styles ====== -->
    <!--<link rel="stylesheet" href="assets/css/style.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <!-- Include the sidebar template -->
    {% include 'sidebar.html' %}

    <!-- ========================= Main ==================== -->
    <div class="main">
        <!-- Include the topbar template -->
        {% include 'topbar.html' %}

        <div class="container">
            <div class="main-content">
                <div class="content" id="content">
                    <!-- Content from individual pages will be loaded here -->
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <!-- =========== Scripts =========  -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- First, include jQuery (required by some Bootstrap components) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Then, include Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <!-- Finally, include the Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
